[submodule "meta/vendor/fzf"]
	path = dotbot/core/vendor/fzf
	url = https://github.com/junegunn/fzf
[submodule "meta/vendor/powerlevel10k"]
	path = dotbot/core/vendor/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "meta/vendor/zsh-syntax-highlighting"]
	path = dotbot/core/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "meta/vendor/zsh-autosuggestions"]
	path = dotbot/core/vendor/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "meta/vendor/mpd-notification"]
	path = dotbot/core/vendor/mpd-notification
	url = https://github.com/eworm-de/mpd-notification
[submodule "meta/vendor/xdg-ninja"]
	path = dotbot/core/vendor/xdg-ninja
	url = https://github.com/b3nj5m1n/xdg-ninja
