[Unit]
Description=Sets the XRoot window background picture
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/X11/setup_background.sh
