[Unit]
Description=X session
BindsTo=graphical-session.target
Wants=pipewire.service
Wants=pipewire-pulse.service
Wants=dunst.service
Wants=gnome-keyring
Wants=policykit-agent.service
Wants=gpg-agent.service
Wants=start gpg-agent.socket
Wants=gpg-agent-extra.socket
Wants=gpg-agent-browser.socket
Wants=gpg-agent-ssh.socket
Wants=mpd.service
Wants=mpd-notification.service
Wants=xsettingsd.service
Wants=xss-lock.service

# Wants=picom.service
# Wants=redshift.service
# Wants=ssh-agent.service
# Wants=xss-lock.service
